*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-image: url("bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
}
@media only screen and (max-width: 690px){
    body{
        background-image: url("bg-mobile.svg");
    }
}

header{
    padding: 2.5rem;
    margin: 0 2rem;
    margin-bottom: 1rem;
}

.heading-img{
    height: 3rem;
}

main
{
    display: flex;
    margin: 0 4.5rem;
}
@media (max-width: 690px){
    main{
        flex-direction: column;
        margin: 0 2.5rem;
    }
}

.icons-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 7rem;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.main-text-heading{
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    color: white;
    margin-bottom: 1.75rem;
}
.main-text-body{
   font-family: 'Poppins', sans-serif;
   font-weight: lighter;
   opacity: 0.75;
   color: white;
   font-size: 1.20rem;
   line-height: 2rem;
   margin-bottom: 1.5rem;
}
img{
    width: fit-content;
    max-width: 100%;
}
.main-img{
    width: 50%;
    margin-right: 1rem;
}
.main-text{
    width: 50%;
    padding: 4rem;
    padding-top: 1.75rem;
}

.register-btn{
    font-family: url('https://fonts.google.com/specimen/Open+Sans');
    border: none;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 24px;
    background-color: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.349);
    padding: 1rem 3.75rem;
    color: hsl(257, 40%, 49%);
}
@media (max-width: 690px){
    .main-img{
        width: 100%;
    }
    .main-text{
        width: 100%;
        text-align: center;
    }
    .main-text-heading{
        font-size: 1.5rem;
        line-height: 2.5rem;
        width: 100%;
    }
    .icons-footer{
        justify-content: center;
        padding-right: 0;
    }
}
i{
    margin: 0.5rem;
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid white;
}